html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Charter, Georgia, serif;
  line-height: 1.6;
  font-size: 17px;
  letter-spacing: 0.018rem
}

header {
	flex: auto;
	width: 100vw;
   	padding: 12px;
    	text-align: left;
    	background-color: #ffffff;
    	margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1.8px solid #c1c1c1;
}

a:hover {
  text-decoration: none;
  color: #FF6B44;
}

img {
  max-width: 100%;
  display: block;
}
